/* Universal selector applies on all selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Everything related to font must be specified in the body selector instead of universal selector. It can be trated as parent class, which will be inherited by child class*/
body{
    font-family: 'Lato',sans-serif;  /* if lato is not available then use sans-serif */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;/* padding won't be inherited by any child element*/
}
.header{
    height: 95vh;
    /*linear-gradient will change background color from light green to dark green from top left to bottom right*/
    background-image: linear-gradient(to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)),
    url(../img/hero.jpg);
    background-size: cover;
    /* squeezed from bottom on window minimization, for center both top & bottom will be squeezed*/
    background-position: top; 
    /* polygon co-ords(top left, top right, bottom right, bottom left)*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}
/* As we have made position absolute,it's parent (header) position must be relative*/ 
.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo{
    height: 35px;
}
/* top & left attributes applied on the basis of its parent container, but translate applied on its own element*/
.text-box-header {
    position:absolute;
    top: 40%;
    left:50%;
    /* it will shift half of the width & height to the left & top side*/
    transform: translate(-50%,-50%);
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;
}
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}
.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
}